body {
	
	height: 100%;
	width: 100%;
	overflow-x: hidden;
}
a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: none;
	color: inherit;
	font-size: 110%;
}
pre {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	white-space: pre-wrap;
}
footer {
	background-color: #736D6D;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

hr {
	margin-top: 5px;
	margin-bottom: 10px;
}

.nav-link:hover {
	background-color: rgba(255, 255, 255, 0);
	color: black;
}

.bg-nav {
	background-color: #bf0000;
	width: 100%;
}

.nav-style {
	background: linear-gradient(180deg, #bf0000 0.13%, #88ee7a00 75%);
	color: black;
}

.white-bg-transparent {
	background: rgba(255, 255, 255, 0.25);
	color: black;
}

.new-panel {
	margin-top: 25px;
}

.article-item {
	font-size: 13px;
}

.my-btn {
	background-color: #c00a0a;
	color: white;
	margin-top: 15px;
}

.my-btn:hover {
	background-color: #e01414;
	color: white;
}
.btn-success {
	background-color: rgb(71, 71, 71);
	color: white;
	border: rgb(71, 71, 71);
}
.btn-success:hover {
	background-color: rgb(51, 45, 45);
	color: white;
}

.btn-outline-light:hover {
	background-color: #e01414;
	border: 1px solid #e01414;
	color: white;
}
#upBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 10px;
	z-index: 99;
	border: none;
	outline: none;
	background-color: rgba(162, 157, 243, 0.61);
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
}

#navScroll {
	display: none;
	z-index: 99;
	position: fixed;
	width: 100%;
}


.dropright {
position: relative;
}

.dropright .dropdown-menu {
top: 0;
left: 100%;
margin-top: -1px;
}